<div class="row">
    <div class="col col-12" style="background-color: blue;">
        <p class="heading">grab the march madness sale get up to 40% off on our premium range of products offer valid until 31st march</p>
    </div>
</div>

<div class="row">
    <div class="col col-12">
        <img src="https://cdn.lilbrats.in/Others/logo-mini.png" class="logo">
        <p class="logo-text">Lil brats</p> 
    </div>
</div>

<div class="row">
    <div class="col col-9">
        <input type="text" placeholder="What are you looking for?" name="search" class="search">  
    <button> 
        <i class="fa fa-search"></i> 
    </button> 
    </div>
    <div class="col col-1">
        <p>Sign in</p>
    </div>
    <div class="col col-1">
        <i class="fa fa-heart"></i>
    </div>
    <div class="col col-1">
        <i class="fa fa-shopping-cart"></i>
    </div>
</div>
<div class="row" style="background-color: blue;">
    <div class="col col-3">
        <p class="heading">discover</p>
    </div>
    <div class="col col-3">
        <p class="heading">freshly brewed</p>
    </div>
    <div class="col col-3">
        <p class="heading">reviews</p>
    </div>
    <div class="col col-3">
        <p class="heading">parter with us</p>
    </div>
</div>
<div class="row">
    <div class="slider">
        <p class="text">style meets sophistication</p>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col col-12">
        <img src="../../assets/shop by age.PNG" class="byageimg">
    </div>
</div>

<div class="row">
    <div class="col col-6">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG08486216599.jpg" class="twinimg">
        <p style="text-align: center;color: blue;">Festival</p>
        <h6 class="h6">season collection</h6>
        <p class="u">SHOP NOW</p>
    </div>
    <div class="col col-6">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG00583732284.jpg" class="twinimg">
        <p style="text-align: center;color: blue;">High Street</p>
        <h6 class="h6">collection</h6>
        <p class="u">SHOP NOW</p>
    </div>
</div>
<div class="row">
    <div class="col col-12">
        <h2 class="h2">Season Edits</h2>
    </div>
</div>
<div class="row">
    <div class="col col-3">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG0849652371.jpg" class="seasonedits">
        <p class="h6">Suits</p>
        <p class="u1">SHOP NOW</p>
    </div>
    <div class="col col-3">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG00051818922.jpg" class="seasonedits">
        <p class="h6">Rompers</p>
        <p class="u1">SHOP NOW</p>
    </div>
    <div class="col col-3">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG0798880179.jpg" class="seasonedits">
        <p class="h6">waist coat sets</p>
        <p class="u1">SHOP NOW</p>
    </div>
    <div class="col col-3">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG01121946075.jpg" class="seasonedits">
        <p class="h6">full set</p>
        <p class="u1">SHOP NOW</p>
    </div>
</div>
<div class="row">
    <div class="col col-3">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG0057822881.jpg" class="seasonedits">
        <p class="h6">T.Shirts</p>
        <p class="u1">SHOP NOW</p>
    </div>
    <div class="col col-3">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG09536173100.jpg" class="seasonedits">
        <p class="h6">pullovers</p>
        <p class="u1">SHOP NOW</p>
    </div>
    <div class="col col-3">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG01237261092.jpg" class="seasonedits">
        <p class="h6">full sleeves shirt</p>
        <p class="u1">SHOP NOW</p>
    </div>
    <div class="col col-3">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG0947771788.jpg" class="seasonedits">
        <p class="h6">high neck t-shirts</p>
        <p class="u1">SHOP NOW</p>
    </div>
</div>
<div class="row">
    <div class="col col-12">
        <p class="h2">couture by lil'brats</p>
    </div>
</div>
<div class="row">
    <div class="col col-4">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG07432.jpg" class="lilbrats">
        <p class="h6">bold three piece suit</p>
        <p class="rupees">₹4490</p>
    </div>
    <div class="col col-4">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG05360.jpg" class="lilbrats">
        <p class="h6">checked three piece suit</p>
        <p class="rupees">₹3990</p>
    </div>
    <div class="col col-4">
        <img src="https://cdn.lilbrats.in/Dress-img/IMG07429.jpg" class="lilbrats">
        <p class="h6">three piece suit in pink</p>
        <p class="rupees">₹3990</p>
    </div>
</div>
<div class="row" style="background-color: blue;">
    <div class="col col-3" style="margin-top: 30px;">
        <p class="fheader">customer care</p>
        <p class="ftext">return policy</p>
        <p class="ftext">privacy policy</p>
        <p class="ftext">terms & conditions</p>
    </div>
    <div class="col col-3" style="margin-top: 30px;">
        <p class="fheader">company</p>
        <p class="ftext">about us</p>
        <p class="ftext">parter with us</p>
        <p class="ftext">find my size</p>
    </div>
    <div class="col col-3" style="margin-top: 30px;">
        <p class="fheader">contact us</p>
        <p class="ftext">lil'brats</p>
        <p class="ftext">(+91 9566660266)</p>
        <p class="ftext">support@lilbrars.in</p>
        <p class="ftext">mon-sun:11am--8pm IST</p>
        <p class="ftext">shop office at:</p>
        <p class="ftext">couture for lil'brats</p>
        <p class="ftext">52A,gangadeeshwar koil st,</p>
        <p class="ftext">purasaiwakkam,chennai</p>
        <p class="ftext">tamil nadu 600084</p>
        <img src="https://cdn.lilbrats.in/Others/Instagram_logo_2016.svg" style="margin-left: 120px;
        width: 24px;">
        <img src="https://cdn.lilbrats.in/Others/Facebook_logo_2019.svg" style="
        width: 24px">
    </div>
    <div class="col col-3" style="margin-top: 30px;">
        <img src="https://cdn.lilbrats.in/Others/guarantee.svg" style="width: 50px;height: 50px;">
        <span class="ftext">100% premium quality</span><br> <span class="ftext1">for all products at lil'brats</span><br>
        <img src="https://cdn.lilbrats.in/Others/return.svg" style="width: 40px;height: 40px;">
        <span class="ftext">return within 15 days</span><br><span class="ftext1"> of receiving your order</span><br>
        <img src="https://cdn.lilbrats.in/Others/delivery-truck.svg" style="width: 40px;height: 40px;">
        <span class="ftext">get free delivery</span> <br><span class="ftext1"> for every order above rs.2000</span>
    </div>
</div>
<div class="row" style="background-color: blue;">
    <div class="col col-8">
        <p class="ftext">&copy;2021 LIL'BRATS.All rights reserved.</p>
    </div>
    <div class="col col-4">
        <p class="ftext">made with  <i class="fa fa-heart pulse"></i>by inception labs</p>
    </div>
</div>